#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Twinverse
Exec=twinverse
Icon=io.github.mall0r.Twinverse
Type=Application
Categories=Game;Utility;
Comment=Play any game in splitscreen or with multiple monitors.
Terminal=false
