#!/usr/bin/env xdg-open
[Desktop Entry]
Name=MultiScope
Exec=multiscope
Icon=io.github.mallor.MultiScope
Type=Application
Categories=Game;Utility;
Comment=Play any game from your Steam library in splitscreen or with multiple monitors.
Terminal=false
