#!/usr/bin/env xdg-open
[Desktop Entry]
Name=MultiScope
Exec=multiscope
Icon=io.github.mallor.MultiScope
Type=Application
Categories=Game;Utility;
Comment=MultiScope is an open-source tool for Linux that enables the creation and management of gamescope sessions of steam, allowing several players to play simultaneously on a single computer.
Terminal=false
