name: CI Tests

on:
  pull_request:
    branches: [main, master, build/workflow]
  push:
    branches: [main, master, build/workflow]

jobs:
  # Testes normais que rodam diretamente no Ubuntu
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install flatpak and dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y flatpak \
          flatpak-builder \
          libgirepository1.0-dev \
          libgirepository-2.0-dev \
          make \
          gcc \
          libcairo2-dev \
          pkg-config \
          python3-dev \
          libglib2.0-dev \
          libxml2-dev \
          libxslt1-dev \
          libgtk-4-dev \
          libadwaita-1-dev \
          gir1.2-gtk-4.0 \
          gir1.2-adw-1 \
          libglib2.0-dev-bin

      - name: Add Flathub repository
        run: |
          flatpak remote-add --user --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo

      - name: Install GNOME runtime and SDK
        run: |
          flatpak install -y flathub org.gnome.Sdk//49 org.gnome.Platform//49

      - name: Install pip dependencies
        run: |
          pip install --upgrade pip
          pip install .[test]
          pre-commit install

      - name: Run pytest
        run: |
          python -m pytest tests/

      - name: Run pre-commit
        run: pre-commit run --all-files

      - name: Build Flatpak and run tests
        run: |
          flatpak-builder --install-deps-from=flathub --force-clean build-dir io.github.mall0r.Twinverse.yaml
          flatpak-builder --run build-dir io.github.mall0r.Twinverse.yaml python -m pytest tests/
